In [17]:
import requests
import pandas as pd

Fetching unemployment data from World Bank.

In [27]:
def fetch_unemployment(country_code):
    url = f"https://api.worldbank.org/v2/country/{country_code}/indicator/SL.UEM.TOTL.ZS?date=2024&format=json"
    response = requests.get(url)
    data = response.json()

    if len(data) < 2 or not data[1]:
        print("No data available.")
        return None

    record = data[1][0]
    return record['value']

In [29]:
# Practice
result = fetch_unemployment("br")
print(result)

7.634

In [30]:
# Importing dataset as a dataframe
dataset = pd.read_csv('dataset.csv')

In [31]:
unemployment = []

for country in dataset['iso2Code']:
    try:
        code = country.lower()
        unemployment_val = fetch_unemployment(code)
        unemployment.append(unemployment_val)
    except:
        print(country)
        unemployment.append(-99999.0)

No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
No data available.
nan
No data available.
No data available.
No data available.
No data available.
No data available.

In [34]:
dataset['unemployment_rate'] = unemployment
dataset.head()

,id,iso2Code,name,inflation_rate,gdp_percent_change,unemployment_rate
0,ABW,AW,Aruba,-99999.000000,2.200,NaN
1,AFE,ZH,Africa Eastern and Southern,-99999.000000,-99999.000,7.772656
2,AFG,AF,Afghanistan,-3.366652,2.267,13.295000
3,AFR,A9,Africa,-99999.000000,-99999.000,NaN
4,AFW,ZI,Africa Western and Central,-99999.000000,-99999.000,3.218313

In [35]:
dataset.to_csv('dataset.csv', index=False)